md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    md-button(ng-href='/courses') Courses
    md-button(ng-href='/facilitators') Facilitators
    md-button(ng-href='/clients') Clients
    md-button(ng-href='/bookings') Bookings
  span(flex='')
  .navbar-right
    meteor-include(src='loginButtons')
