md-dialog(aria-label='Student Details')
  md-toolbar
    .md-toolbar-tools
      h2 Student Details
      span(flex)
      md-button.md-icon-button(ng-click='cancel()')
        md-icon(aria-label='Close Dialog' md-font-icon='material-icons') close
  md-dialog-content
    form(name='form' ng-submit='save()')
      div(layout='row')
        md-input-container(flex='50')
          label Name
          input(ng-model='student.profile.name')
        md-input-container(flex='50')
          label Email
          input(ng-model='student.emails[0].address' type='email')
      md-input-container
        label Phone
        input(ng-model='student.profile.phone')
      md-input-container
        label ID Number
        input(ng-model='student.profile.ID')
      md-actions(layout="row")
        span(flex)
        input.md-button(type='submit' value='Save')
        input.md-button(type='reset' value='Reset')
        md-button(ng-click='cancel()') Cancel
