.clients-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 Clients
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a client
      md-input-container
        label Name
        input(ng-model='newClient.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    
    ul
      li(ng-repeat='client in clients')
        p 
          a(href='/clients/{{client._id}}') {{client.name}}
          button(ng-click='remove(client)') &times;

    p Total number of clients: {{clients.length}}
  span(flex='')